@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-yellow: 47 88% 63%;
  --clr-white: 0 0% 100%;
  --clr-gray-500: 0 0% 42%;
  --clr-gray-950: 0 0% 7%;

  --ff-figtree: "Figtree", sans-serif;

  --fw-medium: 500;
  --fw-extra-bold: 800;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-figtree);
  font-weight: var(--fw-medium);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  background: hsl(var(--clr-yellow));
  color: hsl(var(--clr-gray-950));
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  max-width: 24rem;
  background: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-gray-950));
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem 0 rgb(0 0 0);
  padding: 1.5rem;
}

.card__img-wrapper {
  border-radius: 0.625rem;
  overflow: hidden;

  img {
    height: 200px;
    object-fit: cover;
  }
}

.card__content {
  margin-block: 1.5rem;
}

.card__category {
  background: hsl(var(--clr-yellow));
  font-weight: var(--fw-extra-bold);
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.card__date {
  font-size: 0.75rem;
  margin-block: 0.75rem;
}

.card__title {
  font-weight: var(--fw-extra-bold);
  font-size: 1.25rem;
}

.card__description {
  color: hsl(var(--clr-gray-500));
  font-size: 0.875rem;
  margin-top: 0.75rem;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: var(--fw-extra-bold);
  font-size: 0.875rem;
}

.card__author-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

@media screen and (min-width: 23.5rem) {
  .card__category {
    font-size: 0.875rem;
  }

  .card__date {
    font-size: 0.875rem;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__description {
    font-size: 1rem;
  }
}
